<link rel="stylesheet" href="../css/login.css">
<section>
    <form class="row g-3 formi" id="form_login">
        <div class="login login-screen">
            <div class="app-title">
                <h1>Login</h1>
            </div>
            <div class="login-form">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" placeholder="name@example.com">
                    <label for="email">Correo Electronico</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                    <label for="password">Contraseña</label>
                </div>
                <div class="col-12" style="margin-top: 15px;">
                    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                </div>
                <div>
                    <label><a href="./registro">Registrate</a></label>
                </div>
            </div>
        </div>
    </form>
</section>
</body>
</html>
<script src="../js/login.js"></script>