<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos y condiciones</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body style="position: relative;">
    <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
        <a class="navbar-brand" href="#">Terminos y condiciones</a>
        <ul class="nav nav-pills">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Secciones</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#useData">Uso de datos</a></li>
              <li><a class="dropdown-item" href="#shops">Compras</a></li>
              <li><a class="dropdown-item" href="#entregas">Entregas</a></li>
              <li><a class="dropdown-item" href="#pays">Pagos</a></li>
            </ul>
          </li>
        </ul>
    </nav>
    <div style="padding: 30px;" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <h4 id="useData">Uso de datos</h4>
        <p>
            <ul>
                <li>No se recolectan datos durante su estadía en el sitio. Solo se guardan los datos necesarios para procesar su compra que son indicados al registrarse y al realizar su pedido, toda esta información nos sirve para dar un mejor servicio tanto en el despacho del producto como en el servicio al cliente.</li>
                <li>Sus datos estan completamente seguros, no se comparten con ninguna otra empresa, se quedan con nosotros en nuestros fiables servidores.</li>
                <li>Ante modificaciones en los terminos y condiciones de uso del servicio se le notificará con un correo electrónico en caso que tenga una cuenta creada, asi mismo se verán reflejados en primera instancia en esta pagina.</li>
                <li>Tener una cuenta hace las cosas más seguras, ante imprevistos en la entrega de su compra podemos brindarle un mejor servicio de atención al cliente para poder dar con el origen del problema y una solución. El no hacerlo no quiere decir que no tendrá una buena atención al cliente, solo que puede resultar más trabajoso poder verificar su pedido.</li>
            </ul>
        </p>
        <h4 id="shops">Compras</h4>
        <p>
            <ul>
                <li>Al realizar una compra esta es procesada con Mercado Pago, el proceso puede realizarce al instante pero si ocurre errores esta puede tardar hasta 5 días en procesarce o validarse. La compra entra en vigor cuando nuestro sistema recibe de Mercado Pago la aprobación y confirmación de la transacción.</li>
                <li>Se garantiza que su pedido estará en sus manos en un lapso de hasta 48 horas. Si usted realiza su compra un viernes entonces su compra puede ser reprogramada hasta el proximo Lunes, apartir del cual correrá el tiempo de 48 horas.</li>
                <li>Las reprogramaciones de pedidos son rara vez hechas a excepción del caso anterior (si un pedido es aprobado el día viernes), sea cual sea el caso usted resivirá un correo electrónico indicando la reprogramación y el porqué de esta (solo en caso el pedido no haya sido aprobado el día viernes).</li>
                <li>El pedido puede ser cancelado en cualquier momento antes de su envío.</li>
                <li>Usted puede ver el proceso de su compra en su <a href="../perfil">perfil</a>, solo si esta registrado. Si desea consultar el proceso de su compra puede ponerse en contacto con servicio al cliente, el cual responderá en hasta 1 hora (hasta las 10  p.m. luego de esa hora puede variar hasta las 9 a.m. del día posterior).</li>
                <li>Hay veces en las que nos asociamos a empresas, lo que significa que vendemos sus productos, en tal caso no nos hacemos responsables de la mala calidad del producto. Puede hacer un reclamo y se le procederá a un <i>reembolso parcial</i>, que en nuestros terminos significa que se devuelve el producto comprado y a usted se le regresa parte del monto pagado (esto dependerá del estado del producto, si se determina que está totalmente defectuoso se procederá a un reembolso total, lo que quiere decir que devolverá el producto y se le regresará la totalidad del dinero). En cualquier caso podemos brindarle todos los medios por los que puede comunicarse con la empresa proveedora del producto para solucionar el inconveniente, lo cual ya saldrá de nuestro ambito y responsabilidad.</li>
            </ul>
        </p>
        <h4 id="entregas">Entregas</h4>
        <p>
            <ul>
                <li>El proceso de entrega puede ser diferente en cada ciudad, pero el lapso máximo en el que puede recibir su pedido será en 48 horas.</li>
                <li>Su producto será entregado por nuestro personal siempre y cuando esté en una zona de nuestro control, es decir, donde tengamos la capacidad para llegar por nuestros propios medios. En caso de no poder hacerlo se recurrirá a otra empresa para el envío de su pedido, la cual se ajustará a la zona brindada en su dirección y se le notificará por medio de su correo electrónico.</li>
                <li>Cuendo el pedido pasa al cargo de otra empresa <b>no</b> nos hacemos responsables del daño que pueda haberse producido durante el transporte, tampoco nos hacemso responsables de la demora producida por circunstacias externas como para de transportistas, bloqueo de vías, accidentes automovilísticos, etc.</li>
            </ul>
        </p>
        <h4 id="pays">Pagos</h4>
        <p>
            <ul>
                <li>Nosotros no procesamos el pago, esto es responsabilidad de Mercado Pago.</li>
                <li>Nosotros no almacenamos datos referentes a su tarjeta ni información bancaria.</li>
                <li>Los pagos pueden ser bloqueados y reportados por Mercado Pago por una actividad sospechosa. Nosotros también podemos reportar esta actividad y Mercado Pago se encarcgará de las sanciones correspondiente.</li>
                <li>No estamos asociados a Mercado Pago ni a Mercado Libre, solo usamos su pasarela de pago "Mercado Pago".</li>
            </ul>
        </p>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>
var scrollSpy = new bootstrap.ScrollSpy(document.body, {
  target: '#navbar-example'
})
</script>
</html>