<div id="compras" class="container" style="width: 100%;">
    <div class="row shadow-sm p-2 mb-5 bg-light rounded">
        <div class="col-12">
            <h4>Mis compras</h4>
        </div>
    </div>
    <div id="shop-table" class="row">
        <table class="table" style="display: none;">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Productos</th>
                  <th scope="col">Cant. Pagada</th>
                </tr>
              </thead>
              <tbody id="table_body"></tbdoy>
        </table>          
    </div>
</div>