<form class="row g-3" id="form_update">
    <div class="col-md-6">
        <label for="inputName" class="form-label">Nombres</label>
        <input type="text" class="form-control" disabled>
    </div>
    <div class="col-md-6">
        <label for="inputApellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" disabled>
    </div>
    <div class="mb-3">
        <label for="InputEmail" class="form-label">Correo Electronico</label>
        <input name="email" type="email" class="form-control" id="InputEmail">
    </div>
    <div class="mb-3">
        <label for="InputPhone" class="form-label">Teléfono</label>
        <input name="phone" type="number" class="form-control" id="InputPhone">
    </div>
    <div class="mb-3">
        <label for="InputDNI" class="form-label">DNI</label>
        <input type="text" class="form-control" disabled>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
</form>